@property --light {
  syntax: "<color>";
  initial-value: white;
  inherits: true;
}

@property --dark {
  syntax: "<color>";
  initial-value: hsl(210deg, 38%, 15%);
  inherits: true;
}

@property --dark-grey {
  syntax: "<color>";
  initial-value: #6b6b6b;
  inherits: true;
}

@property --light-grey {
  syntax: "<color>";
  initial-value: #939393;
  inherits: true;
}

.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
