html {
  --light: antiquewhite;
  --dark: #1a1a1a;
  --dark-grey: #6b6b6b;
  --light-grey: #828282;
}

.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
