---
const { class: className, ...rest } = Astro.props;
import SunIcon from "@src/assets/sun.svg";
import MoonIcon from "@src/assets/moon.svg";
---

<button
  id="themeToggle"
  class={className}
  {...rest}
  aria-label="Theme Toggle Button"
>
  <SunIcon />
  <MoonIcon />
</button>

<style>
  button {
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
  }

  .sun-icon {
    display: block;
    fill: var(--dark);
  }

  .moon-icon {
    display: none;
    fill: var(--light);
  }

  html.dark .sun-icon {
    display: none;
  }

  html.dark .moon-icon {
    display: block;
  }
</style>

<script is:inline>
  function getTheme() {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme") ?? "light";
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  }

  function handleToggleClick() {
    const rootElement = document.documentElement;
    rootElement.classList.toggle("dark");
    const isDark = rootElement.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  }

  const theme = getTheme();

  window.localStorage.setItem("theme", theme);

  if (theme === "dark") {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }

  document
    .getElementById("themeToggle")
    ?.addEventListener("click", handleToggleClick);
</script>
