---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allPlaylists = await getCollection("periodicalPlaylists");
---

<Layout>
  <h1>Some awesome blog page</h1>

  <!-- // COLLECTION STEP 3: Index collection entries -->

  {
    allPlaylists.map((pl) => (
      <>
        <a href={`/playlists/${pl.data.lastUpdate}/`}>{pl.data.name}</a>
        <br />
      </>
    ))
  }
</Layout>
