---
import ThemeIcon from "./ThemeButton/ThemeButton.astro";
import RssIcon from "@src/assets/rss.svg";
---

<header class="header">
  <a href="/" class="header-title"> Playlists Galore </a>
  <div class="header-actions">
    <ThemeIcon class="action-item" />
    <a
      href="/rss.xml"
      target="_blank"
      rel="noopener noreferrer"
      class="action-item"
      aria-label="RSS Feed"
    >
      <RssIcon />
    </a>
  </div>
</header>

<style>
  .header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    margin-top: 0.25rem;
  }

  html.dark .header {
    background-color: #1a1a1a;
  }

  .header-title {
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: 500;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .action-item {
    width: 1.4rem;
  }

  a {
    color: #1a1a1a;
  }
  html.dark a {
    color: antiquewhite;
  }
</style>
