---
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <h1>Playlists Galore</h1>
  <ThemeIcon />
</header>

<style>
  header {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
</style>
