---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  url: string;
  playlist: CollectionEntry<"playlists">["data"];
  aboveTheFold: boolean;
}

const { url, playlist, aboveTheFold: aboveTheFoald } = Astro.props;
---

<li>
  <a href={url}>
    <Image
      src={playlist.images[2].url}
      width={60}
      height={60}
      alt="Playlist illustration made from a collage of the first four album covers"
      loading={aboveTheFoald ? "eager" : "lazy"}
    />

    <div>
      <div>{playlist.name}</div>
      <div>{`Tracks: ${playlist.totalTracks}`}</div>
    </div>
  </a>
</li>

<style>
  li {
    list-style-type: none;
    border: 1px solid;
    border-color: black;
    max-width: 500px;
  }

  html.dark li {
    border-color: white;
  }

  a {
    display: flex;
    align-items: center;
    color: black;
  }

  html.dark a {
    color: white;
  }

  img {
    margin-inline-end: 1rem;
  }
</style>
