---
import type { CollectionEntry } from "astro:content";

interface Props {
  url: string;
  playlist: CollectionEntry<"playlists">["data"];
}

const { url, playlist } = Astro.props;
---

<li>
  <a href={url}>
    <img src={playlist.images[2].url} />
    <div>
      <div>{playlist.name}</div>
      <div>{`Tracks: ${playlist.totalTracks}`}</div>
    </div>
  </a>
</li>

<style>
  li {
    list-style-type: none;
    border: 1px solid;
    border-color: black;
    max-width: 500px;
  }

  html.dark li {
    border-color: white;
  }

  a {
    display: flex;
    align-items: center;
    color: black;
  }

  html.dark a {
    color: white;
  }

  img {
    margin-inline-end: 1rem;
  }
</style>
