---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { printDetails } from "@src/utils";

interface Props {
  url: string;
  playlist: CollectionEntry<"playlists">["data"];
  aboveTheFold: boolean;
}

const { url, playlist, aboveTheFold: aboveTheFoald } = Astro.props;

const details = printDetails(playlist.totalTracks, playlist.pubDate);
---

<li>
  <a href={url}>
    <Image
      src={playlist.images[1].url}
      width={72}
      height={72}
      alt="Playlist illustration made from a collage of the first four album covers"
      loading={aboveTheFoald ? "eager" : "lazy"}
    />
    <div>
      <div class="line-clamp">{playlist.name}</div>
      <div class="tracks">{details}</div>
    </div>
  </a>
</li>

<style>
  li {
    list-style-type: none;
    max-width: 500px;
    font-size: 1.125rem;
  }

  a {
    display: flex;
    align-items: center;
    color: var(--dark);
    text-decoration: none;
  }

  html.dark a {
    color: var(--light);
  }

  img {
    margin-inline-end: 1rem;
    border-radius: 100px;
  }

  .tracks {
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;
    color: var(--dark-grey);
  }

  html.dark .tracks {
    color: var(--light-grey);
  }
</style>
