---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  url: string;
  playlist: CollectionEntry<"playlists">["data"];
  aboveTheFold: boolean;
}

const { url, playlist, aboveTheFold: aboveTheFoald } = Astro.props;
---

<li>
  <a href={url}>
    <Image
      src={playlist.images[1].url}
      width={72}
      height={72}
      alt="Playlist illustration made from a collage of the first four album covers"
      loading={aboveTheFoald ? "eager" : "lazy"}
    />
    <div>
      <div class="line-clamp">{playlist.name}</div>
      <div class="tracks">{`${playlist.totalTracks} tracks`}</div>
    </div>
  </a>
</li>

<style>
  li {
    list-style-type: none;
    max-width: 500px;
    font-size: 1rem;
  }

  html.dark li {
    border-color: white;
  }

  a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
  }

  html.dark a {
    color: white;
  }

  img {
    margin-inline-end: 1rem;
    border-radius: 100px;
  }

  .tracks {
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 200;
    color: grey;
  }
</style>
